<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/project.css"/>
	<title>HOME PAGE</title>

	<p style = "letter-spacing:8px"> 
		<h3> 
			<a href="/home"> <img src = "/static/Bows.png" style = "vertical-align:middle" height="100" />BOWS AND BOTS</a> 
			<div style = "float:right; font-family: Helvetica">
                    <form id="searchform" action="/register/" method="get" accept-charset="utf-8">
                                <input type="text" placeholder="Search..." required>
                                <input type="button" value="Search">
                    <form>
			</div>
		<!--<a href = "KellyWebsiteNew.html" style = "color: #2f4f4f;">HOME</a>-->
			<a href="/login" style = "float:right; font-size:15px; padding:8px"> SIGN IN</a> 

			<a href="linkedin.com" style = "float:right; font-size:15px; padding: 8px"> CART</a> 
		</h3>	
	</p> 

	<line style = "letter-spacing:0px"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>	
	
	<center><h1 style = "vertical-align:middle; letter-spacing: 25px"> HOME <h1></center>
	<center>
		<h1 style = "letter-spacing: 15px"> REGISTER FOR ACCOUNT </h1>
		<h3>
			<a href = "/products" >PRODUCTS</a>

			<a href = "/contact">CONTACT</a>
		</h3>
	</center>
	<line style = "letter-spacing:0"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>
</head>

<body class="align" >


	<div class="site__container">
	<div class="grid__container">
	


	<h1>Staff Update:
	</h1>

	<h2>
		Update:
		<form>
			<h3>
			Fill in what you want to update.  If you wish to leave anything unchanged, leave the field blank.</h3>
				{% if productToChange %}
				<table style="padding: 5px; font-size:50%" id="Products">				
				<tr style="font: bold"> 
					<th> Product ID </th>
					<th> Product Name </th>
					<th> Product Description </th>
					<th> Product Price </th>
					<th> Product Active </th>
					<th> Product Stock Quantity </th>
					<th> Supplys </th>
					<th> Order </th>
					<th> Contains </th>
				</tr>
				<tr >
					<div style="display: none"><input type="Text" name="productToChangeID" value="{{productToChange.product_id}}" /></div>
					<td> {{ productToChange.product_id }} </td> 
					<td> <input type="Text" name="productName" value="{{ productToChange.product_name }}" /></td>
					<td> <input type="Text" name="productDescription" value="{{ productToChange.product_description }}" /></td>
					<td> <input type="Text" name="productPrice" value="{{ productToChange.product_price }}" /></td>
					<td> <input type="Text" name="productActive" value="{{ productToChange.product_active }}" /></td>
					<td> <input type="Text" name="productStockQuantity" value="{{ productToChange.product_stock_quantity }}" /></td>
					<td> <input type="Text" name="productSupplies" value="{{ productToChange.product_supplies }}" /></td>
					<td> <input type="Text" name="productOrder" value="{{ productToChange.product_order }}" /></td>
					<td> <input type="Text" name="productContains" value="{{ productToChange.product_contains }}" /></td>

				</tr>
				</table>
			{% endif %}

			{% if userToChange %}
				<table style="padding: 5px; font-size:50%" id="Products">				
				<tr style="font: bold"> 
					<th> User Name</th>
					<th> User ID </th>
					<th> User Password </th>
					<th> User Address</th>
					<th> User is Staff </th>
				</tr>
				<tr >
					<div style="display: none"><input type="Text" name="userToChangeID" value="{{userToChange.user_id}}" /></div>
					<td> <input type="Text" name="UserName" value="{{ userToChange.user_name }}" /></td>
					<td> {{ userToChange.user_id }} </td>
					<td> <input type="Text" name="UserPassword" value="{{ userToChange.user_password }}" /></td>
					<td> <input type="Text" name="UserAddress" value="{{ userToChange.user_address }}" /></td>
					<td> <input type="Text" name="UserIsStaff" value="{{ userToChange.user_is_staff }}" /></td>
				</tr>
				</table>
			{% endif %}

			{% if orderToChange %}
				<table style="padding: 5px; font-size:50%" id="Products">				
				<tr style="font: bold"> 
					<th> Order ID </th>
					<th> Order Paid </th>
					<th> Order Date</th>
				</tr>
				<tr >
					<div style="display: none"><input type="Text" name="orderToChangeID" value="{{orderToChange.order_id}}" /></div>
					<td> {{ orderToChange.order_id }} </td>	
					<td> <input type="Text" name="OrderPaid" value="{{ orderToChange.order_paid }}" /></td>
					<td> <input type="Text" name="OrderDate" value="{{ orderToChange.order_date }}" /></td>

				</tr>
				</table>
			{% endif %}
			<input type="Submit" value="Update" onclick="javascript: form.action='/staffSaveUpdates/';">


			

		</form>
			<div style="display: ">
			{% if productName %}
			Displaying Product Name To Update: <input type="Text" name="productName" value="{{ productName }}"/>
			{% endif %}
			{% if userName %}
			Displaying Username To Update: <input type="Text" name="userName" min="0" value="{{ userName }}"/>
			{% endif %}
			{% if orderID %}
			Displaying Order To Update: <input type="Order" name="OrderID" min="0" value="{{ orderID }}"/>
			{% endif %}
			</div>
	</h2>
    
	

   
    
</body>
</html>
