<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/project.css"/>
	<title>CART</title>

	<p style = "letter-spacing:8px"> 
		<h3> 
			<a href={% url 'storeApp.views.homePage' %}> <img src = "/static/Bows.png" style = "vertical-align:middle" height="100" />BOWS AND BOTS</a> 
	
			<div style = "float:right; font-family: Helvetica">
                                <!--<form action="halp" method="get" accept-charset="utf-8" name = "searchbar">
                                <input type="text" placeholder="Search...">
                                <input type="button" value="Search" name="searchBar">
                                <form>-->
			</div>
			<a href="linkedin.com" style = "float:right; font-size:15px; padding: 8px"> CART</a> 
		</h3>	
	</p> 

	<line style = "letter-spacing:0px"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>	
	
	<center>
		<h1 style = "letter-spacing: 15px"> REGISTER FOR ACCOUNT </h1>
		<h3>
			<a href = '/home/' >HOME</a>
      <a href = '/products'>PRODUCTS</a>
			<a href = '/contact'>CONTACT</a>
		</h3>
	</center>
	<line style = "letter-spacing:0"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>
</head>

</body>
</html>