<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/project.css"/>
	<title>HOME PAGE</title>

	<p style = "letter-spacing:8px"> 
		<h3> 
			<a href="/home"> <img src = "/static/Bows.png" style = "vertical-align:middle" height="100" />BOWS AND BOTS</a> 
			<div style = "float:right; font-family: Helvetica">
                    <form id="searchform" action="/register/" method="get" accept-charset="utf-8">
                                <input type="text" placeholder="Search..." required>
                                <input type="button" value="Search">
                    </form>
			</div>
		<!--<a href = "KellyWebsiteNew.html" style = "color: #2f4f4f;">HOME</a>-->
			<a href="/login" style = "float:right; font-size:15px; padding:8px"> ACCOUNT</a> 

			<a href="linkedin.com" style = "float:right; font-size:15px; padding: 8px"> CART</a> 
		</h3>	
	</p> 

	<line style = "letter-spacing:0px"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>	
	
	<center><h1 style = "vertical-align:middle; letter-spacing: 25px"> HOME <h1></center>
	<center>
		
		<h3>
			<a href = "/products" >PRODUCTS</a>

			<a href = "/contact">CONTACT</a>
		</h3>
	</center>
	<line style = "letter-spacing:0"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>
</head>

<body>
	<center>
		<img class="img-circle" src="/static/itgirl.jpg" style="vertical-align:middle; padding:50px" height="300" />
		<h2 style="vertical-align:middle">Welcome to Bows & Bots</h2>
		<p style="vertical-align:middle">A webstore dedicated to all female programmers out there. <br>
			We have the best coding gear to showcase your love of what you do. <br>
			Check out our shop <a href="Products.html">here</a>.
		</p>
	</center>
</body> 

</html>