<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/project.css"/>
	<title>Products</title>

	<p style = "letter-spacing:8px"> 
	<h3> 
		<a href={% url 'storeApp.views.homePage' %}> <img src = "/static/Bows.png" style = "vertical-align:middle" height="100" />BOWS AND BOTS</a> 
			
		<form style = "float:right; font-family: Helvetica">
                                <input type="text" placeholder="Search..." required>
                                <input type="button" value="Search">
		</form>
		<!--<a href = "KellyWebsiteNew.html" style = "color: #2f4f4f;">HOME</a>-->
		<a href= "/login" style = "float:right; font-size:15px; padding:8px"> ACCOUNT</a> 

		<a href="Cart.html" style = "float:right; font-size:15px; padding: 8px"> CART</a> 
	</h3>	</p> 

			<line style = "letter-spacing:0px"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>	
	
	<center>
	<h1 style = "letter-spacing: 15px"> PRODUCTS </h1></center>
				<line style = "letter-spacing:0px"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>	
				<center>
	<h3>
		<a href = "/home" >HOME</a>
			<a href = "/contact">CONTACT</a>
		</h3></center>
	<line style = "letter-spacing:0"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>
</head>
<body>
	<div class="img">
		<img src="/static/CodeLikeAGirl.jpg" width="400" height="400"/>
		<div class="desc">"Code Like A Girl" T-Shirt || $15.00 <br>
		<button type="button" onclick="alert('This item has been added to your cart.')">Add To Cart</button></div>
	</div>
	<div class="img">
		<img src="/static/CodeMug.jpg" width="400" height="400"/>
		<div class="desc">Code Mug || $10.00 <br>
		<button type="button" onclick="alert('This item has been added to your cart.')">Add To Cart</button></div>
	</div>
	<div class="img">
		<img src="/static/GirlsCodeToo.jpg" width="400" height="400"/>
		<div class="desc">"Girls Code Too" 3/4 Sleeve || $20.00 <br>
		<button type="button" onclick="alert('This item has been added to your cart.')">Add To Cart</button></div>
	</div>
	<div class="img">
		<img src="/static/button.JPG" width="400" height="400"/>
		<div class="desc">Female Power Button || $5.00 <br>
		<button type="button" onclick="alert('This item has been added to your cart.')">Add To Cart</button></div>
	</div>
	<div class="img">
		<img src="/static/sudo.JPG" width="400" height="400"/>
		<div class="desc">"Sudo Gal" T-Shirt || $15.00 <br>
		<button type="button" onclick="alert('This item has been added to your cart.')">Add To Cart</button></div>
	</div>
	<div class="img">
		<img src="/static/nails.JPG" width="400" height="400"/>
		<div class="desc">Motherboard Nail Art || $10.00 <br>
		<button type="button" onclick="alert('This item has been added to your cart.')">Add To Cart</button></div>
	</div>
</body>
</html>