<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/project.css"/>
	<title>ACCOUNT PAGE</title>

	<p style = "letter-spacing:8px"> 
		<h3> 
			<a href="/home"> <img src = "/static/Bows.png" style = "vertical-align:middle" height="100" />BOWS AND BOTS</a> 
				
			<div style = "float:right; font-family: Helvetica">
                              <!--<form name = "searchBox" id="searchform" method="get" accept-charset="utf-8">
                                <input type="text" placeholder="Search...">
                                <input type="button" value="Search">
                              <form>-->
			</div>
			<a href="linkedin.com" style = "float:right; font-size:15px; padding: 8px"> CART</a> 
		</h3>	
	</p> 

	<line style = "letter-spacing:0px"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>	
	
	<center>
		<h1 style = "letter-spacing: 15px"> ACCOUNT SIGN IN </h1>
		<h3>
			<a href = "/home">HOME</a>
			<a href = "/products">PRODUCTS</a> 
			<a href = "/contact">CONTACT</a>
		</h3>
	</center>
	<line style = "letter-spacing:0"> ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</line>
</head>
<body>
<p/>
	<center>
	<form action="/viewAccount/" method = "get" name = "accountPage">
		{% if request.user.is_authenticated %} 
			Welcome '{{request.user.username}}'
			First Name: '{{request.user.user_firstname}}'
			Last Name: '{{request.user.user_lastname}}'
			Username: '{{request.user.username}}'
			Password: <span class="hidden">'{{request.user.password}}'</span>s
			Email: '{{request.user.user_email}}'
			Address: '{{request.user.user_address}}'
		{% endif %}
		<a href = "/login"> LOGIN</a>
		<a href = "/updateAccountPage"> UPDATE</a>
		<a href = "/deleteAccountPage"> DELETE</a>s
	</form>
		</center>
<p/>
<center>
		<a href = "/register" style = "color: blue">Register for account?</a>
	</center>
</body>
</html>